* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #e4a479 ;
}

main {
    font-size: 20px;
        position: absolute;
        top: 400px;
        width: 1450px;
        left: 50%;
        transform: translate(-50%);
        background-color: bisque;
    line-height: 1.5;
    }

h2 {
    text-align: center;
}

main a {
 
        background-color: beige;
        padding: 8px 20px;
        text-decoration:none;
        font-weight:bold;
        border-radius:5px;
        cursor:pointer;
        border-radius: 5px;
        color: rgb(26, 26, 138);
    }

    main a:visited {
        color: rgb(48, 48, 146);
    }

main a:hover {
    color:green;
}

.link {
    margin:15px;
}
.article {
    margin: 30px 100px;
}

footer {
    
    position: absolute;
    top: 1560px;
    width: 100%;
    height: 30px;
 text-align: center;
    background-color: #e4a479;
    color: wheat;
    font-size: 20px;
}
