* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: bisque;
}
main {

    position: absolute;
    top: 400px;
    display: flex;
    width: 950px;
    left: 50%;
transform: translate(-50%);
}

main img {
    border-radius: 50%;
    border: 1px solid brown;
}
main p {
    font-size: 22px;
    line-height: 1.5;
    margin-left:15px;
    margin-top: 10px;
}
